*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/image/Group\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navBar > ul{
    list-style-type: none;
    background-color: transparent;
    height: 80px;

}
li{
    width: 80px;
    list-style: none;
    margin-top: 8px;
    margin-right:60px;
    font-size: 1.3rem;
    font-weight: 300;
}
li > a{
    text-decoration: none;
    color: #fff;
}
li > a:hover{
    color: #fff;
    font-weight: 500;
} 
h1{
    text-transform: uppercase;
    color: #fff;
}
h3{
    text-transform: uppercase;
    color: #fff; 
}
h2{
    text-transform: capitalize;
    color: #fff;
    
}
p{
    color: #fff;
    font-size: 24px;
}
.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
i{
    color: #fff;
    cursor: pointer;
}
.scrollDown{
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scrollDown > a{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}
.image-container{
    width: 1160px;
    height: 740px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0); 
}
.image-container> img{
    width: 256px;
    height: 313px;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image-container > img:hover{
    transform: rotate(5deg);
}

.image-container2{
    width: 1160px;
    height: 740px;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: space-evenly;
    gap: 10px;
} 

.container-about{
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.img{
    position: relative;
    width: 446px;
    height: 446px;
    color: #fff;
   
}
.container-contact {
    position: relative;
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-contact{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: absolute;
    top: 50%;
    right: 50%;
}
label{
    color: #fff;
}

form{
    position: relative;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.55);
    width: 719px;
    height: 470px;
    border-radius: 10px;
}
input{
    height: 40px;
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid #fff;
}

@media (min-width:900px ) and (max-width:920px) {
    body{
        max-height: 800px;
    }
    .image-container{
        max-width: 910px;
        max-height: 800px;
    }

    .image-container > img{
        width:200px;
        height: 200px;
        margin-bottom: 5px;
        margin-left: 0;
    }
   
    .image-container2{
        width: 810px;
        
    }
    .image-container2 > img.o{
        width: 250px;
        margin: 0 5px;
    
    }
    .image-container2 > img.l{
        width: 250px;
        margin: 0 5px;
    
    }
    .image-container2 > img.i{
        width: 250px;
        margin: 0 5px;
    
    }
    .image-container2 > img.k{
        width: 300px;
        margin: 0 5px;
    
    }
    .image-container2 > img.m{
        width: 200px;
        margin: 0 5px;
    
    }
   

}