<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../www/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styels/firstpage.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css">
</head>

<body>
    <div class="navBar d-flex justify-content-end">
        <ul class="d-flex justify-content-between align-items-center">
            <li><a href="home.html"> Home </a></li>
            <li><a href="works.html"> Work </a></li>
            <li><a href="about.html"> About </a></li>
            <li><a href="contact.html"> Contact</a></li>
        </ul>
    </div>
    <div class="intro">
        <span class="text-center">
            <h1>Hello</h1>
        </span>
        <span class="text-center">
            <h3>i'm mariem felfel, a digital media student</h3>
        </span>
    </div>

    <div class="scrollDown">
        <a class="rounded-circle text-center pt-2 align-self-center fs-4" href="works.html">
            <i class="fa-solid fa-angle-down"></i>
        </a>
        <p class="align-self-center" style="color:#fff ;">Lets get started</p>
    </div>

</body>

</html>