<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../www/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script defer src="../www/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../styels/main.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css">
</head>

<body>
    <div class="container-work d-flex flex-column justify-content-around">

        <div class="navBar d-flex justify-content-end">
            <ul class="d-flex justify-content-between align-items-center">
            <li><a href="home.html"> Home </a></li>
            <li><a href="works.html"> Work </a></li>
            <li><a href="about.html"> About </a></li>
            <li><a href="contact.html"> Contact</a></li>
        </ul>
    </div>


    <div id="carouselExampleIndicators" class="carousel slide d-flex flex-column justify-content-between"
        data-bs-ride="carousel" style="height:841px; ">
        <div class="carousel-inner px-5 ">
            <div class="carousel-item active">
                <h1 class="text-center my-4">Photography</h1>
                <div class="image-container d-flex justify-content-between flex-wrap ">
                    <img src="../image/111.png" alt="Not Found!">
                    <img src="../image/222.png" alt="Not Found!">
                    <img src="../image/333.png" alt="Not Found!">
                    <img src="../image/444.png" alt="Not Found!">
                    <img src="../image/555.png" alt="Not Found!">
                    <img src="../image/666.png" alt="Not Found!">
                    <img src="../image/777.png" alt="Not Found!">
                    <img src="../image/888.png" alt="Not Found!">
                </div>
            </div>
            
            <div class="carousel-item">
                <h1 class="text-center my-4">Artwork</h1>
                <div class="image-container2">

                    <div class="one d-flex flex-column" style="margin-right:140px ;">
                        <div class="upper d-flex justify-content-between ">
                            <img class="img-fluid o" src="../image/3.jpeg" alt="" style="width:300px; height: 320px;margin: 0 10px; ">
                            <img class="img-fluid l" src="../image/12.png" alt="" style="width:300px ; height: 320px;">
                        </div>
                        <div class="lower" style="margin:10px 20px 0 10px ;">
                            <img  class="i" src="../image/10.jpeg" alt="" style="width: 100%; height:300px; width: 370px;">
                        </div>
                    </div>


                    <div class="two"> <img class="img-fluid k" src="../image/8.jpeg" alt="" style="height:630px; width: 400px; margin-left: 30px;"></div>

                    <div class="three"> <img class="img-fluid m" src="../image/5.jpeg" alt=""  style="height:630px; width: 400px;"> </div>


                </div>
            </div>
        </div>


        <div class="indicators">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active rounded-circle" aria-current="true" aria-label="Slide 1"
                    style="height:15px; width: 15px;"></button>

                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2" style="height:15px; width: 15px;" class="rounded-circle"></button>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"
                style="margin-right:70px;"></span>
                </button>
                
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"
                    style="margin-right: -70px;"></span>
                </button>
            </div>
    </div>

</div>
</body>

</html>